.basket{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto
}
.basket.open {
    visibility: visible;
    opacity: 1;
}
h1{
    color: white;
}
.closeBas{
    position: absolute;
    border: none;
    background-color: red;
    top: 0;
    right: 0;
    color: white;
    border-radius: 5px;
}
.yourBasket{
    text-align: center;
}
.basketContent{
    background-color: #030114;
    position: relative;
    width: 100%;
    padding: 45px;
    z-index: 1;
    border-radius: 12px;
}
.box{
    display: grid;
    grid-template-columns:repeat(4, 4fr);
    gap: 20px;
}
.openBasket{
    width: 50px;
    height: 50px;
}
.totalprice{
    color: white;
}